<div id="homeView">

    <input class="btn" type="button" ng-click="create()" value="Add"><br>

    <div id="studentsTable">
        <table class="table">
            <thead class="header">
                <td>Email</td>
                <td>First name</td>
                <td>Last name</td>
            </thead>
            <tr ng-repeat="student in students">
                <td>{{student.email}}</td>
                <td>{{student.name}}</td>
                <td>{{student.surname}}</td>
                <td><input class="btn" type="button" ng-click="delete(student)" value="Delete"></td>
            </tr>
        </table>
    </div>

</div>